<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="admin-pages:scheduler">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Scheduler</h1>
                    <div data-template="admin-pages:activate-scheduler"/>
                    <h2>Aktuelle Routinen</h2>
                    <div data-template="admin-pages:show-scheduler-log"/>
                </div>
            </div>
        </div>
    </div>
</div>