<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <!-- <link href="resources/scripts/prettify/prettify.css" type="text/css" rel="stylesheet"/> -->
    <!-- <script type="text/javascript" src="resources/scripts/prettify/prettify.js"/> -->
    <!-- <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/> -->
    <div class="row">
        <div class="col-md-9">
            <h1 id="mytitle">Dokumentation</h1>
            <div class="row-fluid">
                <div class="span12">
                    <div><h2 id="install">Installation</h2>
                        <div><h3 id="existdb">eXist-db</h3>
                            <p>
                                Für die Benutzung von ediarum wird eine eXist-db Installation benötigt. Die
                                letzte Version läßt sich <a href="http://exist-db.org/exist/apps/homepage/index.html#subscriptions">hier</a>
                                herunterladen. Vor der Installations müssen die <a href="http://exist-db.org/exist/apps/doc/quickstart.xml#system-requirements">Installationsvoraussetzungen</a>
                                erfüllt sein. Die genauen Installationsschritte finden sich in der
                                <a href="http://exist-db.org/exist/apps/doc/quickstart.xml">Online-Dokumenation</a>.
                                Es kann auch <a href="http://www.bbaw.de/telota/software/sade">SADE</a> benutzt werden,
                                eine angepasste und erweiterte Version von eXist.
                            </p>
                            <p>
                                Auf Linux lässt sich eXist mit dem Befehl <code class="prettyprint">java -jar eXist-{version}.jar -console</code>
                                installieren. Als <b>target path</b> gibt man etwa den <b>vollständigen</b> Pfad zum Unterverzeichnis <b>/pfad/zu/exist_db</b> an und
                                als <b>Data dir</b> den wieder <b>vollständigen</b> Unterordner <b>/pfad/zu/data</b>. Daraufhin wird man aufgefordert das Admin-Passwort zu setzen.
                                Die Voreinstellungen zum maximalen Speicher (1024 MB) und zum Cache (128 MB) kann man stehen lassen.
                            </p>
                            <p>
                                Vor dem Starten sollte noch der Port angepasst werden (s. <a href="#db-setup">Datenbank-Konfiguration</a>).
                                Über die Konsole kann eXist-db dann gestartet werden etwa mit dem Befehl:
                                <code class="prettyprint">nohup bin/startup.sh $</code>
                                Die Datenbank lässt sich nach dem Starten über den Browser unter
                                <a href="../..">server:port/exist</a> erreichen.
                            </p>
                            <p>
                                Ist die Datenbank korrupt oder soll sie auf null zurückgesetzt werden, d.h. alle Daten,
                                Benutzerkonten (inkl. des <b>admin</b>) und installierte Apps gelöscht werden,
                                reicht es nach dem Stoppen der Datenbank den separaten Daten-Ordner auf dem Server zu löschen.
                                Mit einem erneuten Starten der Datenbank erhält man eine leere Datenbank
                                und kann dort wieder neue Apps installieren oder Daten einspielen. Zuerst sollte man
                                allerdings das <b>admin</b>-Passwort neu setzen.
                            </p>
                        </div>
                        <div><h3 id="ediarum">ediarum-App</h3>
                            <p>In eine bestehende <b>eXist-db</b>-Installation kann die ediarum-App über
                                den Package-Manager hinzugefügt werden. Dazu im Dashboard der aktuellen
                                eXist-Installation der Package-Manager aufgerufen werden. Mit Klick auf
                                das Symbol oben links wird das Fenster "Upload Packages" geöffnet. In
                                diesem Fenster muss die aktuelle <b>ediarum.xar</b> hinzugefügt werden.
                            </p>
                            <p>
                                Der eXist-Installation werden die Ressourcen der <a href="http://www.bbaw.de/telota/software/ediarum">ediarum</a>-App hinzugefügt.
                                Dann wird automatisch das xQuery
                                <a data-template="templates:load-source" href="pre-install.xql">pre-install.xql</a>
                                aufgerufen und ausgeführt. Darin wird die
                                <a data-template="templates:load-source" href="collection.xconf">collection.xconf</a>
                                in den Systempfad der Datenbank kopiert. Dann werden die Nutzergruppen "website" und
                                "oxygen" angelegt, ebenso die Standardnutzer "exist-bot", "oxygen-bot" und "website-user"
                                mit gleich lautenden Passwörtern.
                                Folgende Tabelle gibt einen Überblick über die Berechtigungen in den Ordnern eines ediarum-Projektes:
                                <table>
                                    <tr>
                                        <th>Nutzergruppe/Projektverzeichnis</th>
                                        <th>data</th>
                                        <th>exist</th>
                                        <th>oxygen</th>
                                        <th>website</th>
                                        <th>Beschreibung</th>
                                    </tr>
                                    <tr>
                                        <td>admin</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>Administrator mit allen Berechtigungen.</td>
                                    </tr>
                                    <tr>
                                        <td>PROJECT-nutzer</td>
                                        <td>X</td>
                                        <td/>
                                        <td/>
                                        <td/>
                                        <td>Nutzer in einem ediarum-Projekt</td>
                                    </tr>
                                    <tr>
                                        <td>exist-bot</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>X</td>
                                        <td>Führt die Routinen aus.</td>
                                    </tr>
                                    <tr>
                                        <td>oxygen-bot</td>
                                        <td/>
                                        <td/>
                                        <td>X</td>
                                        <td/>
                                        <td>Für Oxygen in globale Optionen und im CSS, liest aus data_copy.</td>
                                    </tr>
                                    <tr>
                                        <td>website-user</td>
                                        <td/>
                                        <td/>
                                        <td/>
                                        <td>X</td>
                                        <td>Mit Zugriff auf die Webseite und den Druck.</td>
                                    </tr>
                                </table>
                            </p>
                            <p>
                                Nachdem die App mit ihren Dateien installiert wurde, wird automatisch das xQuery
                                <a data-template="templates:load-source" href="post-install.xql">post-install.xql</a>
                                aufgerufen und ausgeführt.
                                Schließlich werden noch die Zugriffsberechtigungen auf die verschiedenen System-Ordner und
                                die dafür notwendigen Routinen eingerichtet (s. <a href="#permissions">Berechtigungen</a>).
                            </p>
                        </div>
                    </div>
                    <div><h2 id="config">Konfiguration</h2>
                        <div><h3 id="dashboard">Dashboard</h3>
                            <p>
                                Über das <a href="../..">Dashboard</a> hat man Zugriff auf verschiedene Möglichkeiten
                                die Datenbank zu konfigurieren. Von dort kommt man auch auf die <a href=".">Startseite</a>
                                der ediarum-App.
                            </p>
                            <h3 id="db-setup">Datenbank Konfiguration</h3>
                            <!--p>
                                Damit später die Routinen auch vom Scheduler ausgeführt werden können, muss die Datei <b>ediarum.jar</b>
                                aus dem Ordner <a href="data.html?root=/db/apps/ediarum&amp;node=setup">Setup</a> in den Pfad <b>exist-db/lib/user/</b>
                                kopiert werden. Nach einem Neustart der Datenbank sollte die Funktion zur Verfügung stehen. Bei Benutzung von
                                SADE lautet der Pfad <b>webapps/exist/WEB-INF/lib/</b>.
                            </p-->
                            <p>
                                In der Datei <b>conf.xml</b> im eXist-Ordner bzw. bei SADE im Ordner <b>webapps/exist/WEB-INF/lib/</b> können
                                verschiedene Einstellungen verändert werden. Unter <b>scheduler</b> können wiederkehrende Routinen eingerichtet
                                werden, (s.a. <a href="../doc/scheduler.xml">Scheduler Module</a> in der eXist-Dokumentation). Zunächst muss
                                dort die Zeile <pre class="prettyprint">&lt;module uri="http://exist-db.org/xquery/scheduler" class="org.exist.xquery.modules.scheduler.SchedulerModule" /&gt;</pre>
                                entkommentiert werden.
                                Die Einstellungen für ein vierstündliches inkrementelles Backup mit täglichem Vollbackup sehen so aus:
                            </p>
                            <pre class="prettyprint">&lt;job type="system" name="backup"
            class="org.exist.storage.ConsistencyCheckTask"
            cron-trigger="0 0 0/4 * * ?"&gt;
            &lt;parameter name="output" value="path/to/backup/directory"/&gt;
            &lt;parameter name="backup" value="yes"/&gt;
            &lt;parameter name="incremental" value="yes"/&gt;
            &lt;parameter name="incremental-check" value="no"/&gt;
            &lt;parameter name="max" value="6"/&gt;
        &lt;/job&gt;</pre>
                            <!--p>
                                Die Einrichtung eines Scheduler-Jobs zur Ausführung eines in der Datenbank liegenden (geschützen) xQuerys sieht
                                folgendermaßen aus:
                            </p>
                            <pre class="prettyprint">&lt;job type="user" name="validation"
            class="org.bbaw.telota.ediarum.existdb.OpenProtectedURL"
            cron-trigger="0 5 1 * * ?"&gt;
            &lt;parameter name="url" value="http://www.example.com:8080/exist/rest/db/apps/ediarum/routinen/validation.xql"/&gt;
            &lt;parameter name="username" value="bot1"/&gt;
            &lt;parameter name="password" value="bot1"/&gt;
        &lt;/job&gt;</pre-->
                            <!--p>
                                Um den Port der Datenbank zu verändern (s. a. <a href="../doc/troubleshooting.xml#port-conflicts">Port-Konflikte</a>),
                                muss in der Datei <b>tools/jetty/etc/jetty.xml</b> im eXist-Ordner in der Zeile
                            </p>
                            <pre class="prettyprint">38: &lt;Set name="port"&gt;&lt;SystemProperty name="jetty.port" default="8080"/&gt;&lt;/Set&gt;</pre>
                            <p>
                                die Portnummer 8080 auf die gewünschte Portnummer eingestellt werden. Der Port 8443 für sichere Verbindungen kann in
                                der gleichen Datei in den beiden Zeilen
                            </p>
                            <pre class="prettyprint">42: &lt;Set name="confidentialPort"&gt;
                &lt;SystemProperty name="jetty.port.ssl" default="8443"/&gt;
            &lt;/Set&gt;
        234: &lt;Set name="Port"&gt;&lt;SystemProperty name="jetty.port.ssl" default="8443"/&gt;&lt;/Set&gt;</pre>
                            <p>
                                in den gewünschten Port geändert werden.
                            </p-->
                        </div>
                        <div><h3 id="permissions">Berechtigungen</h3>
                            <p>
                                Damit die Datenbank nur für angemeldete Benutzer zugänglich ist, müssen die Berechtigungen der einzelnen
                                Dateien korrekt gesetzt sein. Die Standard-Einstellung von eXist sieht einen Lesezugriff auch für
                                Gäste vor, was hier aber explizit nicht gewünscht ist.
                            </p>
                            <p>
                                Gewünscht ist ein Zugriff nur für angemeldete Benutzer, d.h. nach dem <a href="../doc/security.xml#permissions">Berechtigungsschema</a>
                                von eXist <code>-rwxrwx--- (group: user)</code> für alle Dateien im Ordner <code>/db/data</code>.
                                Die Ordner <a href="data.html?root=/db/data">data</a>, <a href="data.html?node=Dokumente">Dokumente</a>
                                und <a href="data.html?node=Register">Register</a> werden mit der Berechtigung
                                <code>crwxrwx--- (owner: admin, group:nutzer)</code> erstellt (s. <a href="#ediarum">ediarum-App</a>).
                                Auch wird im Ordner <a href="data.html?root=/db&amp;node=system/config/db/data">config</a> ein Trigger
                                auf <a data-template="templates:load-source" href="routinen/permissions.xql">permissions.xql</a> eingerichtet, die
                                bewirkt, dass alle neu angelegten Dateien die gewünschte Berechtigung <code>-rwxrwx---</code> zugewiesen
                                bekommen.
                            </p>
                            <!--p>
                                Zur Sicherheit wird die Berechtigung des Ordners <a href="data.html?root=/db&amp;node=system">system</a>
                                bei der Installation der ediarum-App auf <code>crwxr-x- - - (owner: system, group: dba)</code> gesetzt.
                            </p-->
                        </div>
                    </div>
                    <div><h2 id="ediarum-setup">ediarum-Anpassung</h2>
                        <!--h3 id="schema">Schemata</h3>
                        <p>
                            Im Ordner <a href="data.html?root=/db/apps/ediarum&amp;node=schemata">schemata</a> liegt das
                            Schema TEI P5 2.5.0. Weitere projektbezogene Schemata können dort hinzugefügt werden.
                        </p-->
                        <div><h3 id="index">Register</h3>
                            <p>
                                Im Ordner <a href="data.html?node=Register">Register</a> werden die notwendigen Registerdateien gespeichert.
                            <!--    Bei Veränderungen der Dateien wird eine Kopie im Ordner <a href="data.html?root=/db/apps/ediarum&amp;node=data_copy">data_copy</a>
                                gespeichert, damit dort von <b>bot2</b> aus dem <a href="http://oxygenxml.com/xml_author.html">Oxygen XML Author</a>
                                heraus ein Lesezugriff erfolgen kann. Die Kopien werden über einen Trigger gesteuert, der bei Installation der
                                ediarum-App eingerichtet wird (s. <a href="#ediarum">Installation</a> bzw. <a href="#routinen">Routinen</a>).
                            -->
                            </p>
                            <h3 id="routinen">Routinen und xQuery-Skripte</h3>
                            <p>
                                xQuery-Skripte werden im Ordner Routinen abgelegt. Zu Testzwecken existiert dort schon das Skript
                                <a data-template="templates:load-source" href="routinen/test.xql">test.xql</a>, an welchem Ausgaben und Funktionen
                                ausprobiert werden können. Im ediarum-Modul, welches in der Datei <a data-template="templates:load-source" href="modules/ediarum.xql">ediarum.xql</a>
                                liegt, sind zentrale Funktionen vordefiniert, die in die Skript über die Zeile

                            </p>
                            <pre class="prettyprint">import module namespace ediarum="http://www.bbaw.de/telota/software/ediarum/ediarum-app" at "../modules/ediarum.xql";</pre>
                            <p>
                                in das aktuelle Skript geladen werden können.
                            </p>
                            <p>
                                Soll das Skript mit erweiterten Berechtigungen ausgeführt werden können, müssen die Rechte entsprechend
                                gesetzt werden (etwa: rwxr-sr-x, mit 'dba' als Gruppe).
                            </p>
                        </div>
                        <div><h3 id="trigger">Trigger</h3>
                            <p>
                                Für eXist-db können verschiedene Trigger eingerichtet werden, die bei bestimmten Ereignissen ausgeführt werden,
                                etwa wenn Dateien in einem bestimmten Ordner erstellt oder verändert werden (s. <a href="../doc/triggers.xml">Trigger</a>).
                            </p>
                            <p>
                                Die Trigger sind praktisch, falls man Daten in verschiedenen Dateien verwaltet, die aber auch gemeinsam benutzt
                                werden sollen. Dies ist z. B. bei Registern der Fall, wo jeder Registereintrag in einer eigenen Datei gespeichert wird.
                                Die verschiedenen Dateien lassen sich durch einen Trigger mit einem xQuery zusammenführen und separat speichern.
                                Ein anderes Beispiel sind Dateien auf die auch ein Lesezugriff existieren soll, wenn an ihnen gearbeitet wird.
                                Auch hier lassen sich die Dateien durch einen Trigger und entsprechendes xQuery-Skript separat speichern.
                            </p>
                            <p>
                                Trigger für den Ordner <b>/db/mein/Pfad</b> und dessen Subordner lassen sich einrichten, indem im Ordner
                                <b>/db/system/config/db/mein/Pfad</b> eine Datei <b>collection.xconf</b> abgelegt wird, die etwa auf eine
                                xQuery-Datei verweisen kann. Diese muss zum Trigger-Namespace gehören und kann verschiedene Aktionen definieren
                                (s. <a href="../doc/triggers.xml#D2.2.5.3">xQuery-Funktionen</a>). Die Einrichtung wird im folgenden an einem Beispiel
                                erläutert.
                            </p>
                            <p>
                                Beispiel: Jeder Registereintrag eines gemeinsamen Register liegt in einer eigenen Datei.
                                Nach der Erstellung eines Registereintrags (d.h. einer neuen Datei im Ordner Register) oder
                                einer Änderung in einer solchen Datei soll ein neues Gesamtregister erstellt werden, das
                                alle Einträge des Registers mit der ID enthält.
                            </p>
                            <p>
                                Im Ordner <a href="data.html?root=/db&amp;amp;node=system/config/db/Register">/db/system/config/db/Register</a> wird
                                eine Datei <a data-template="templates:load-source" href="../../system/config/db/Register/collection.xconf">collection.xconf</a> mit folgendem
                                Inhalt gespeichert:
                            </p>
                            <pre class="prettyprint">&lt;collection xmlns="http://exist-db.org/collection-config/1.0"&gt;
            &lt;triggers&gt;
                &lt;trigger class="org.exist.collections.triggers.XQueryTrigger"&gt;
                    &lt;parameter name="url" value="xmldb:exist://db/apps/ediarum/routinen/registerTrigger.xql"/&gt;
                &lt;/trigger&gt;
            &lt;/triggers&gt;
        &lt;/collection&gt;</pre>
                            <p>
                                Die im Ordner <a href="data.html?root=/db/apps/ediarum&amp;amp;node=routinen">/db/apps/ediarum/routinen</a> liegende
                                xQuery-Datei <a data-template="templates:load-source" href="routinen/registerTrigger.xql">registerTrigger.xql</a> gehört
                                zum Namespace trigger und definiert einige Trigger, die die gewünschten Aktionen durchführen:
                            </p>
                            <pre class="prettyprint">xquery version "1.0";

        module namespace trigger="http://exist-db.org/xquery/trigger";
          ...

        declare function local:cumulateIndex($url) {
           ...
        };

        declare function trigger:after-create-document($uri as xs:anyURI) {
          local:cumulateIndex($uri)
        };

        declare function trigger:after-update-document($uri as xs:anyURI) {
          local:cumulateIndex($uri)
        };</pre>
                            <p>
                                Die auszuführenden xQueries müssen über die im Trigger angegebene URL erreichbar sein, d.h. sie müssen
                                auch mit Gastrechten ausführbar sein.
                            </p>
                        </div>
                    </div>
                    <div><h2 id="output">Ausgabe</h2>
                        <div><h3 id="website">Webseite</h3>
                            <p>
                                Im Ordner <a href="data.html?root=/db/apps/ediarum&amp;amp;node=web">web</a> können die notwendigen
                                Dateien (xQuery-Skripte, CSS, etc.) für eine Webpräsentationen gespeichert werden.
                            </p>
                            <h3 id="context">ConTeXt</h3>
                            <p>
                                Im Ordner <a href="data.html?root=/db/apps/ediarum&amp;amp;node=druck">druck</a> können die notwendigen
                                Dateien gespeichert werden, um den Druckvorgang auf dem Server anzustoßen.
                            </p>
                            <h2 id="register">Register</h2>
                            <p>
                                Die eingerichteten Register (s. Projektkonfiguration, Register) stehen hier zur Auswahl. Mit der
                                Schaltfläche "Aktualisieren" kann das Register über die entsprechende zotero-Verbindung aktualisiert
                                werden.
                            </p>
                            <p>
                                Eine Liste aller Registereinträge wird im vorformatierten Format angezeigt. Die IDs der Einträge
                                (rechts) verlinken auf die zotero Datenbank. Einträge, bei denen Felder fehlen, die erwartet werden
                                – etwa Autorenangaben –, werden in gelb dargestellt.
                            </p>
                        </div>
                    </div>
                    <div><h2 id="projektkonfiguration">Projektkonfiguration</h2>
                        <div><h3 id="zoteroverbindung">Zotero-Verbindung</h3>
                            <p>
                                Die Register von ediarum lassen sich mit zotero-Bibliographien verbinden. Dazu müssen zunächst die
                                Verbindungen zu einer zotero-Gruppe hergestellt werden. Dafür gibt es in der Projektkonfiguration
                                den Menüpunkt "Zotero".
                            </p>
                            <p>
                                Für die Einrichtung einer neuen zotero-Verbindung "Neue Verbindung hinzufügen" werden drei Angaben
                                benötigt:
                            </p>
                            <ul>
                                <li>Bezeichnung: Der Name unter dem die Verbindung im weiteren angezeigt werden soll.</li>
                                <li>Gruppen-ID: Der Identifikator der zotero-Gruppe, bestehend aus einer Ziffernkette. Bei privaten
                                    zotero-Gruppen ist die ID direkt aus der URL ersichtlich, etwa: https://www.zotero.org/groups/00001.
                                    Bei öffentlichen Gruppen ist die ID schwieriger zu finden:
                                    <ol>
                                        <li>Die Webpage der Gruppen-Bibliothek öffnen</li>
                                        <li>Den Link "Subscribe to this feed" links, unterhalb der Schlagwörter finden</li>
                                        <li>Die Nummer im Link zwischen "/groups/" und "/items/" ist die gesuchte ID</li>
                                    </ol>
                                </li>
                                <li>API Schlüssel: Ein spezieller API-Schlüssel, damit die Gruppe über die API-Schnittstelle von
                                    zotero synchronisiert werden kann. Der Schlüssel besteht aus Ziffern, großen und kleinen Buchstaben.
                                    Die Schlüssel sind Nutzer gebunden. Um einen solchen Schlüssel zu erstellen muss daher folgend
                                    vorgegangen werden:
                                    <ol>
                                        <li>Die Webpage der Einstellungen "settings" eines Benutzers öffnen, der Zugriff auf die zu einzurichtende zoterp-Gruppe besitzt</li>
                                        <li>Die Seite "feeds/API" öffnen und einen neuen Schlüssel erstellen</li>
                                        <li>Bei Erstellung des Schlüssels ist darauf zu achten, dass Lese-Zugriff auf die einzurichtende zotero-Gruppe erlaubt wird.</li>
                                    </ol>
                                </li>
                            </ul>
                            <p>
                                Für jede eingerichtete zotero-Gruppe stehen mehrere Aktionen zur Auswahl:
                            </p>
                            <ul>
                                <li>Update!: Synchronisiert die geänderten oder neu hinzugekommenen Einträge seit der letzten Synchronisation
                                    bzw. des letzten Updates. Bevor ein Update durchgeführt werden kann, sollte die Verbindung einmal
                                    synchronisiert worden sein.</li>
                                <li>Synchronisieren!: Löscht alle vorhandenen Einträge aus der Datenbank und lädt alle in zotero
                                    vorhandenen Einträge neu herunter. Dieser Vorgang benötigt etwa 2 Minuten für 1.000 Einträge.</li>
                                <li>Bearbeiten: Die Einstellungen können geändert werden.</li>
                                <li>Löschen: Die Verbindung wird gelöscht.</li>
                            </ul>
                        </div>
                        <div><h3 id="zoteroregister">Zotero-Register</h3>
                            <p>
                                Für eingerichtete zotero-Verbindungen lassen sich einzelne Register konfigurieren. Um ein neues Register
                                einzurichten ("Neues Register hinzufügen") werden vier Angaben benötigt:
                            </p>
                            <ul>
                                <li>API-ID: Für die API-ID sollte ein eindeutiger String aus Buchstaben und Ziffern ohne Sonderzeichen
                                    gewählt werden, da das Register mithilfe der API-ID über eine URI angesteuert werden kann.</li>
                                <li>Bezeichnung: Die Bezeichnung des Registers</li>
                                <li>Zotero-Verbindung: Hier kann zwischen den eingerichteten zotero-Verbindungen ausgewählt werden.
                                    Ist bisher keine Verbindung eingerichtet, sollte diese vorher getan werden.</li>
                                <li>Zotero-Ordner: Ein Register kann entweder alle Einträge einer zotero-Gruppe umfassen, dann bleibt
                                    dieses Feld leer. Ein Register kann aber auch nur einen einzelnen Ordner einer zotero-Gruppe umfassen,
                                    dann sollte jener hier ausgewählt werden.</li>
                            </ul>
                            <p>
                                Für die eingerichteten Register stehen die Aktionen "Bearbeiten" und "Löschen" zur Verfügung. Weiterhin
                                wird zu jedem Register angezeigt, welche Zugriffe über die API bestehen:
                            </p>
                            <ul>
                                <li>GET: Das Register wird im TEI-Format ausgeliefert.</li>
                                <li>UPDATE: Das Register wird über die zotero-Verbindung auf die neueste Version aktualisiert.</li>
                                <li>UPDATE-GET: Das Register wird zunächst aktualisiert und dann in der aktualisierten Form im TEI-Format
                                    ausgeliefert.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <nav class="nav side-nav side-nav-fixed">
                <div class="container">
                    <div class="nav-header">
                        <h2>
                            <a href="#">Inhalt</a>
                        </h2>
                    </div>
                    <div class="nav-body">
                        <ul>
                            <li>
                                <a href="#install">Installation</a>
                                <ul>
                                    <li><a href="#existdb">eXist-db</a></li>
                                    <li><a href="#ediarum">ediarum-App</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#config">Konfiguration</a>
                                <ul>
                                    <li><a href="#dashboard">Dashboard</a></li>
                                    <li><a href="#db-setup">Datenbank Konfiguration</a></li>
                                    <li><a href="#permissions">Berechtigungen</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#ediarum-setup">ediarum-Anpassung</a>
                                <ul>
                                    <li><a href="#index">Register</a></li>
                                    <li><a href="#routinen">Routinen und xQuery-Skripte</a></li>
                                    <li><a href="#trigger">Trigger</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#output">Ausgabe</a>
                                <ul>
                                    <li><a href="#website">Webseite</a></li>
                                    <li><a href="#context">ConTeXt</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#register">Register</a>
                            </li>
                            <li>
                                <a href="#projektkonfiguration">Projektkonfiguration</a>
                                <ul>
                                    <li><a href="#zoteroverbindung">Zotero-Verbindung</a></li>
                                    <li><a href="#zoteroregister">Zotero-Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
        prettyPrint();
        });
    </script>
</div>
