<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="container-fluid">
        <h1>Willkommen</h1>
        <div class="row">
            <div class="col-md-12">
                <p>
                    Herzlich Willkommen zu <b>ediarum</b>.
                </p>
                <p>
                    <b>ediarum</b> ist eine Arbeitsumgebung für Editionen und besteht aus mehreren angepaßten Komponenten,
                    die ineinander greifen. Es handelt sich dabei um die Datenbank <a href="http://exist-db.org">exist-db</a>,
                    den XML-Editor <a href="http://www.oxygenxml.com/xml_author.html">Oxygen XML Author</a> und die
                    Satzengine <a href="http://wiki.contextgarden.net/Mark_IV">ConTeXt&#160;MkIV</a>.
                </p>
                <p>
                    <b>ediarum</b> wurde von <a href="http://www.bbaw.de/telota">TELOTA</a> an der <a href="http://www.bbaw.de">Berlin-Brandenburgischen
                        Akademie der Wissenschaften</a> entwickelt. Es
                    entstand aus verschiedenen Vorarbeiten und wurde zuerst im Rahmen des Projektes <a href="http://www.bbaw.de/forschung/alphabetisch/schleiermacher_II">Schleiermacher 
                        in Berlin 1808-1834. Briefwechsel, Tageskalender, Vorlesungen</a> eingesetzt.
                </p>
            </div>
        </div>
    </div>
</div>