<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="project-pages:development">
        <h1>
            <span data-template="project-pages:get-current-project">Current Project</span> - Entwicklung
        </h1>
        <div data-template="project-pages:action-alert" />
        <div data-template="project-pages:zip-development-collection"/>
        <a class="btn btn-default" href="../../setup/development.zip" download="download">Neues Entwicklerverzeichnis herunterladen!</a>
        <a class="btn btn-default" href="../../setup/development/build.xml" download="download">Aktuelle build.xml herunterladen!</a>
        <p>Folgende Variablen müssen in der build.properties oder in der project.properties gesetzt sein:</p>
        <div data-template="project-pages:insert-build-properties-table"/>
    </div>
</div>
