<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div data-template="project-pages:zotero">
        <div data-template="templates:include" data-template-path="views/project-pages/_zotero-modals.xml"/>
        <h1>
            <span data-template="project-pages:get-current-project">Current Project</span> - Zotero
        </h1>
        <div data-template="project-pages:action-alert" />
        <h2>Zotero-Gruppen</h2>
        <div data-template="project-pages:list-zotero-connections"/>
    </div>
</div>
